* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

/* FIRST PAGE */

.background1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(img/background1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 20rem;
  cursor: pointer;
}

.test {
  margin-bottom: 10rem;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 2rem;
  position: relative;
  font-size: 2rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #00ee6b;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

h1 {
  padding-top: 4rem;
}

.content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 10rem;
}

.content h1 {
  font-size: 6rem;
  color: #00ee6b;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 2.5rem;
  color: white;
  font-size: 1.8rem;
}

button {
  width: 20rem;
  padding: 1.5rem 0;
  text-align: center;
  margin: 2rem 1rem;
  border-radius: 2rem;
  font-weight: none;
  border: 0.2rem solid #00ee6b;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
}

span {
  background-color: #00ee6b;
  height: 100%;
  width: 0%;
  border-radius: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

/* SECOND PAGE */

.background2 {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(img/background2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

content h1 {
  font-size: 6rem;
  color: #00ee6b;
  text-align: center;
}

.flex-4-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
  justify-content: center;
  justify-items: center;
}

.services {
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  line-height: 3rem;
  border-radius: 2rem;
  border: 2px solid #00ee6b;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #1a1a1a;
  max-width: 40rem;
}

.services:hover {
  transform: translateY(-1rem);
}

h2 {
  padding-bottom: 3rem;
  font-size: 2.5rem;
}

h2 a {
  padding-bottom: 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  position: relative;
}

h2 a::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #00ee6b;
  position: absolute;
  left: 0;
  bottom: 15px;
  transition: 0.5s;
}

h2 a:hover::after {
  width: 100%;
}

p {
  font-size: 1.6rem;
}

.address {
  font-size: 2rem;
}

.architecture-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 6rem;
  cursor: pointer;
  transition: all 0.5s;
}
.architecture-img:hover {
  transform: scale(1.05);
}

/* THIRD PAGE */

.background3 {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(img/background3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.projects {
  font-size: 6rem;
  color: #00ee6b;
  text-align: center;
}

.flex-2-2-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
  justify-content: center;
  justify-items: center;
}

.design-img1,
.design-img2,
.design-img3,
.design-img4 {
  cursor: pointer;
  transition: all 0.5s;
  max-width: 100rem;
}

.design-img1:hover,
.design-img2:hover,
.design-img3:hover,
.design-img4:hover {
  transform: scale(1.05);
}

.design-img1,
.design-img3 {
  justify-self: end;
}

.design-img1,
.design-img2 {
  align-self: flex-end;
}

/* FOURTH PAGE */

.background4 {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(img/background4.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.contact-text {
  font-size: 6rem;
  color: #00ee6b;
  text-align: center;
  padding-bottom: 4rem;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details,
.footer-link {
  color: white;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  font-style: normal;
  padding: 0.5rem;
}

.map {
  border-radius: 2rem;
  margin-bottom: 4rem;
  max-width: 80rem;
}

/* SECTION CTA*/

.cta {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 1rem;
  box-shadow: 0rem 2.4rem 4.8rem rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right bottom, #666666, black);
  overflow: hidden;
}

.cta-text-box {
  color: #444;
  padding: 3rem;
}

.cta .heading-secondary {
  color: #00ee6b;
  margin-top: 3rem;
}

.cta-form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  color: #00ee6b;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: sans-serif;
  color: inherit;
  border: none;
  border-radius: 20px;
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  background-color: #007736;
  color: #fdf2e9;
  border-radius: 20px;
  font-size: 1.8rem;
}

.order-now {
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}

.order-now:hover,
.order-now:active {
  background-color: #00ee6b;
  color: #007736;
  color: #333;
  border: none;
  transition: all 0.5s;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

/* MODAL WINDOW */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: fit-content;
  height: fit-content;
}

/* BACKGROUND */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* X BUTTON */
.close-modal {
  position: absolute;
  left: 40rem;
  top: -4rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  color: #00ee6b;
}

/***************************************/
/* MEDIA QUERIES */
/***************************************/

/* REM and EM do not depent on html font-size in media queries! Instead, 1rem = 1em = 16px */

/***************************************/
/* Below 1150 pixels */
/* 72em = 1150/16 */
/***************************************/

@media (max-width: 72em) {
  .navbar {
    flex-direction: column;
  }

  button {
    width: 30rem;
    padding: 2rem 0;
    font-size: 3rem;
  }

  .grid-2-2-cols {
    display: none;
  }

  .design-img1,
  .design-img2,
  .design-img3,
  .design-img4 {
    width: 60%;
    height: 60%;
  }

  .flex-2-2-cols img {
    max-width: 100%;
    flex-basis: 50%;
  }

  h2 {
    padding-bottom: 3rem;
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }

  .navbar ul li {
    font-size: 2.4rem;
  }

  .content p {
    font-size: 2rem;
  }

  .map {
    width: 60rem;
    height: 30rem;
  }
}

/***************************************/
/* Below 950 pixels */
/* 60em = 950/16 */
/***************************************/
